#*
Copyright 2014 akquinet engineering GmbH
 
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
*##TestEditor Config created on Fri Apr 25 12:12:12 CEST 2014
#Fri Apr 25 12:12:12 CEST 2014
library_id=org.testeditor.xmllibrary
pathToTestFiles=
port=8061
pathToBrowser=
classFixtures=org.testeditor.fitnesse.web.fixture
pathXmlActionGroup=${common.projectName}Tests/AllActionGroups.xml
tpr-version=1.1
pathXmlTechnicalBindings=${common.projectName}Tests/TechnicalBindingTypeCollection.xml
pathToJar=
