#*
Copyright 2014 akquinet engineering GmbH
 
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
*#####################################################################
# Test-Editor project configuration                               #
# ---------------------------------                               #
#                                                                 #
# Config file for the local settings of each Test-Editor project. #
# You may edit this file directly or via the Test-Editor's UI.    #
###################################################################

tpr-version=1.2


# library (project specific meta data for any test case)
###################################################################

library_id=org.testeditor.xmllibrary
library.xmllibrary.actiongroup=${common.projectName}Tests/AllActionGroups.xml
library.xmllibrary.technicalbindings=${common.projectName}Tests/TechnicalBindingTypeCollection.xml


# testautomat (FitNesse server settings)
####################################################################

testautomat.port=8071
testautomat.serverid=fitnesse_based_1.2

# synchronization (team sharing e.g. via SVN)
####################################################################

teamshare_plugin_id=
