#*
Copyright 2014 akquinet engineering GmbH
 
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
*#|import|
|org.testeditor.fixture.web|

!|Library|
|org.testeditor.fixture.web.HtmlWebFixture|

-!|script|
|setTimeout|10|
|setElementlist|${ELEMENT_LISTE}|

'''Starte Browser''' --------
!|scenario|starte Browser|browser|
|open browser;|@browser|

'''Navigiere zu URL''' --------
!|scenario|navigiere auf die Seite|url|
|navigateToUrl|@url|

'''Textfeld ausfuellen''' --------
!|scenario|gebe in das Feld|guiid|den Wert|text|ein|
|insertIntoField;|@text|@guiid|

'''Auswahl auswaehlen ''' --------
!|scenario|waehle in Feld|guiid|den Wert|text|aus|
|selectOption;|@text|@guiid|

'''Textfeld leeren''' --------
!|scenario|leere das Feld|guiid|
|clearElement;|@guiid|

'''Warte in Sekunden''' --------
!|scenario|warte|anzahlSekunden|Sekunden|
|waitSeconds;|@anzahlSekunden|

'''Warte auf Element''' --------
!|scenario|warte auf Element|warteElement|
|checkElementIsAvailable;|@warteElement|

'''Klick auf ein Gui Element''' --------
!|scenario|klicke auf|guiElement|
|clickElement;|@guiElement|

'''Wahl aus Tabelle Text''' --------
!|scenario|waehle aus|guiElement|die Zeile mit Text|zeileText|
|clickElement;|@guiElement|[@zeileText]|
|doubleClickElement;|@guiElement|[@zeileText]|

'''Wahl aus Tabelle Nummer''' --------
!|scenario|waehle aus|guiElement|die Zeile mit Nummer|zeileNr|
|clickElement;|@guiElement|[@zeileNr]|
|doubleClickElement;|@guiElement|[@zeileNr]|

'''Pruefe ob Text sichtbar ist ''' --------
!|scenario|ueberpruefe ob der Text|textVorhanden|vorhanden ist|
|checkTextIsPresentOnPage;|@textVorhanden|

'''Pruefe ob Text nicht sichtbar ist ''' --------
!|scenario|ueberpruefe ob nicht der Text|textVorhanden|vorhanden ist|
|checkTextIsNotPresentOnPage;|@textVorhanden|

'''Beenden des Browsers''' --------
!|scenario|beende Browser|
|closeBrowser;|
